body {
font-family: Arial;
text-align: center;
background: prgb(252, 189, 199)
}

nav {
background: rgb(255, 107, 181);
padding: 10px;
}

nav a {
color: rgb(255, 255, 255);
margin: 0 10px;
}

h1 {
color: rgb(135, 0, 135);
}

.chanteur {
background: rgb(255, 255, 255);
margin: 20px;
padding: 15px;
border-radius: 10px;
}